@page "/datasource"
@using WeatherWebSolution.Intefaces.Base.Entities.Reposytories
@using WeatherWebSolution.Domain.Base
@inject IRepository<DataSourceInfo> _repository

<button class="btn btn-outline-primary" @onclick="RefreshButton_OnClick">Перезагрузить</button>

@if (_sources is { } sources)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var source in sources)
        {
            <tr>
                <td>@source.Id</td>
                <td>@source.Name</td>
                <td>@source.Description</td>
                <td>
                    <button class="btn btn-outline-danger" @onclick="() => Remove(source)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Подождите, происходит обработка запроса...</p>
}

@code
{
    private IList<DataSourceInfo> _sources;

    private async Task UpdateSource() => _sources = (await _repository.GetAll()).ToList();
    

    protected override async Task OnInitializedAsync() => await UpdateSource();

    private async Task RefreshButton_OnClick() => await UpdateSource();

    private void Remove(DataSourceInfo source)
    {
        if (_sources is not {Count: >0}) return;

        _sources.Remove(source);

    }
}