@page "/datasource"
@using WeatherWebSolution.Intefaces.Base.Entities.Reposytories
@using WeatherWebSolution.Domain.Base
@inject IRepository<DataSourceInfo> _repository

<h3>Данные</h3>

<button class="btn btn-outline-primary" @onclick="RefreshButton_OnClick">Перезагрузить</button>

<hr/>

<EditForm Model="_createdNewSouceModel" OnValidSubmit="OnSourceCreated">
    <div class="row">
        <div class="col-3">
            <InputText id="new-datasource-name" @bind-Value="_createdNewSouceModel.Name"/>
        </div>
        <div class="col-9">
            <InputText id="new-datasource-description" @bind-Value="_createdNewSouceModel.Description"/>
        </div>
    </div>
    <button class="btn btn-outline-primary" type="submit">Создать</button>
</EditForm>

@if (_sources is { } sources)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var source in sources)
        {
            <tr>
                <td>@source.Id</td>
                <td>@source.Name</td>
                <td>@source.Description</td>
                <td>
                    <button class="btn btn-outline-danger" @onclick="() => Remove(source)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Подождите, происходит обработка запроса...</p>
}

@code
{
    

}